@model IEnumerable<LoginApp1.Models.Account.AppRole>

@{
    ViewBag.Title = "IndexAppRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="logo mb-3">
    <div class="col-md-12 text-center">
        <h2>Review and edit application roles</h2>
    </div>
</div>

<div class="col-xs-2"></div>
<div class="col-xs-8">
    <p>
        @Html.ActionLink("Create New", "CreateAppRole")
    </p>
    <table class="table table-bordered table-condensed" id="tbl_roles">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-xs-2"></div>
<br style="clear:both;"
    @section scripts{
<script>
    $(document).ready(function () {
        console.log("ready to rock and roll....");
        $("#tbl_roles").dataTable({ searching: false, info: false, lengthChange: false, });
    });

</script>
}
